/* CSS-Regeln */

/*
Selektor
{
eigenschaft: wert;
eigenschaft: wert;
eigenschaft: wert;
}
*/

h1
{
/* color: #665FE9 oder rgb(102,95,233) */
color: rgba(102,95,233,0.8);
background-color: #FFFFFF;
}

h2
{
color: red;
}

p
{
/*font-weight: bold;*/
font-family: sans-serif;
}

em
{
color: #090;
}

strong
{
color: #00C;
}

/* eine Klasse mit Punkt am Anfang */
.begriff
{
color: #999;
font-weight: bold;
}